@charset "utf-8";
@import url("font.css");
@import url("normalize.css");

/* 스타일 초기화 */
html,body,h1,h2,h3,h4,h5,h6, p{
  border:0;
  padding:0;
  margin:0;
}

html{
  font-size:10px;
}

body{
  font-size:1.6rem;
  background-color: #71C0AD;
  font-family:"HyundaiRegular";
}


h1,h2,h3,h4,h5,h6{
  font-size: 1.6em;
  font-weight: normal;
}
/* 섹션1 컨텐츠 레이아웃 */
.section1{
  display: grid;
  grid-template-columns:repeat(12,65px);
  grid-template-rows: auto auto;
  grid-column-gap:20px;
  position: relative;
  justify-content: center; /* 가운데로 정렬. 메인축 정렬임 */
}
/*hsla(0,50%,.5)*/
.section1::after{
  content:"";
  background: repeating-linear-gradient(to right,hsla(0,50%,50%,.5), hsla(0,50%,50%,.5) 65px, transparent 65px, transparent 85px);
  position: absolute;
  top:0;
  left:0;
  width:1000px;
  height:100vh;
}
/* 로고 */
.logo{
  font-size:8rem;
  color:#fff;
  font-family: "HyundaiExtraBold";
  grid-column: 4/ span 6;
  grid-row: 1/2;
}

/* 웨더 앱 소개 */
.description{
  color:#fff;
  font-size:3rem;
  line-height: 1.5;
  grid-column:7/span 6;
  grid-row:2/3;
}

.description span{
  display:block;
  /* inline하면 라인브레이크 안걸림. block은 걸림 */
}

/* 앱 소개 이미지*/
.image-wrapper{
  grid-column:1/span 6;
  grid-row:2/3;
}

.image-wrapper img{
  max-width:100%;
  height:auto;
}